.homepage {
    background-image: url(https://framerusercontent.com/images/wEWO5ZwGZqaXwvyENa5pgO2Dk.png);
    background-size: cover;
    background-position: center;
    height: 1024px;
    width: 1440px;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;  
}
.homepage-text {
    position: absolute;
    text-align: center;
    color: black;
}
.header-text {
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 96px;
    margin-bottom: 10px;
}
.sub-text {
    font-family: 'inter', sans-serif;
    font-weight: bold;
    font-size: 32px;
}
.about-us {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: #FAF0E6 ;
}
.left-side {
    display: flex;
    flex-direction: column;
    width: 60%;
}
.header2-text {
    font-family:'fredoka one', sans-serif;
    font-size:64px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}
.sub2-text {
    font-family: 'fredoka', sans-serif;
    font-size: 64px;
    font-weight: ;
    margin-bottom: 0;
    padding-bottom: 0;
}
.body2-text {
    font-family: 'fredoka', sans-serif;
    font-size: 22px;
    font-weight: ;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
    width: 600px;

}
.logo {
    width: 200px; 
    height: auto; 
    margin-top: 20px;

}
.image2  {
    width: 40%;
    height: 900px;
    margin-top: 400px;
    background-image: url('images/about us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.features {
  padding: 40px;
  background-color: #FAF0E6 100%;
}

.features-text {
  font-size: 64px;
  font-family: 'Fredoka', sans-serif;
  margin-bottom: 20px;
}

.slider {
  display: flex;
  overflow-x: auto;
  overflow-y: auto;
  gap: 100px;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
 
}

.hidden {
  flex: 0 0 300px; 
  background: #DEB887 ;
  padding: 20px;
  border-radius: 16px;
  scroll-snap-align: start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 366px;
  height: 967px;
}

.rate { 
    flex: 0 0 300px; 
  background: #DEB887 ;
  padding: 20px;
  border-radius: 16px;
  scroll-snap-align: start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 366px;
  height: 967px;
  margin-bottom: 20px;;
}

.interactive {
   flex: 0 0 300px; 
  background: #DEB887 ;
  padding: 20px;
  border-radius: 16px;
  scroll-snap-align: start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 366px;
  height: 967px;
} 
.hidden-header, .rate-header, .interactive-header {
  font-size: 64px;
  font-family: 'roboto flex', sans-serif;
  margin-bottom: 0px;
}
.hidden-body, .rate-body, .interactive-body {
  font-size: 36px;
  font-family: 'roboto', sans-serif;
  margin-bottom: 0px;
}

.hidden-image, .rate-image, .interactive-image {
     width: 100%;
  width: 269px;
  height: 427px;
    background-size: cover;
    background-position: center;
  border-radius: 0px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto 10px auto;
}
   .hidden-image{
    background-image: url('images/hidden gem.jpg');
   } 
 

.rate-image {
    background-image: url('images/rating.jpg');
}
   
.interactive-image {
    background-image: url('images/maps.jpg');
}

.Testimonials {
    background-image: url('images/Testimonials.jpg');
    background-size: cover;
    background-position: center;
    min-width: 1440px;
    min-height: 578px;
}
.text-split {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.testimonials-header {
    font-family: 'fredoka one', sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.left-text, .right-text {
    width: 45%;
}
.testimonials-names {
    font-family: 'roboto condensed', sans-serif;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: white;
}
.testimonials-body {
    font-family: 'roboto condensed', sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
}